@page
@model WebAppDETAug2022.Pages.helowebModel
@{
    string message = "foreignObject example with Scalable Vector Graphics (SVG)";
    @("Hello People");

}

@{
    var quote = "The future depends on what you do today. - Mahatma Gandhi";
}

<p>@quote</p>

@{
    quote = "Hate cannot drive out hate, only love can do that. - Martin Luther King, Jr.";
}
@{
    void RenderName(string name)
    {
        <p>Name: <strong>@name</strong></p>
    }

    RenderName("Mahatma Gandhi");
    RenderName("Martin Luther King, Jr.");
}
<p>@quote</p>


<h1>This Good Day!</h1>
<h1> @DateTime.Now</h1>
<h3>page says @Model.Message</h3>
<h3>page says @Model.Discount</h3>
<p>Last week this time: @(DateTime.Now - TimeSpan.FromDays(7))</p>
<p>The future depends on what you do today. - Mahatma Gandhi</p>
<p>Hate cannot drive out hate, only love can do that. - Martin Luther King, Jr.</p>


<svg width="200" height="200">
    <img src="https://lh6.googleusercontent.com/proxy/Rg68sXvbHIokR1ebW-RP9SSM7ksexlV6zm14LbI4bgLQy6KFgBMx5Inr_4Guig7Ps3WjHs2ANXZ4GfMLmojDe7NPxpadtqn7wn9tbGtDbAFjG66fYdY57RYDRbe6b7U4BLJ9XQWXk9w7FA4pTcWJy9FP3638P9OSgDDgWK4GD2HOlP9GfqRGOCoQ8pLG0iONOQ=w1200-h630-p-k-no-nu" />
    

    <rect x="0" y="0" rx="10" ry="10" width="200" height="200" stroke="black"
          fill="none" />
    <foreignObject x="20" y="20" width="160" height="160">
        <p>@message</p>
    </foreignObject>
</svg>
